/* RMBC Primary colours */

/* Black */

.black { color: #0B0C0C; }
.bg-black { background-color: #0B0C0C; }
.b--black { border-color: #0B0C0C; }
.hover-black:hover,
.hover-black:focus { color: #0B0C0C; }
.hover-bg-black:hover,
.hover-bg-black:focus { background-color: #0B0C0C; }

/* White */

.white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.b--white { border-color: #FFFFFF; }
.hover-white:hover,
.hover-white:focus { color: #FFFFFF; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #FFFFFF; }

/* Rotherham Story colours */

.pink { color: #ec4e99; }
.bg-pink { background-color: #ec4e99; }
.b--pink { border-color: #ec4e99; }
.hover-pink:hover,
.hover-pink:focus { color: #ec4e99; }
.hover-bg-pink:hover,
.hover-bg-pink:focus { background-color: #ec4e99; }

.purple { color: #413358; }
.bg-purple { background-color: #413358; }
.b--purple { border-color: #413358; }
.hover-purple:hover,
.hover-purple:focus { color: #413358; }
.hover-bg-purple:hover,
.hover-bg-purple:focus { background-color: #413358; }

.dark-purple { color: #201225; }
.bg-dark-purple { background-color: #201225; }
.b--dark-purple { border-color: #201225; }
.hover-dark-purple:hover,
.hover-dark-purple:focus { color: #201225; }
.hover-bg-dark-purple:hover,
.hover-bg-dark-purple:focus { background-color: #201225; }

.sage { color: #a2c094; }
.bg-sage { background-color: #a2c094; }
.b--sage { border-color: #a2c094; }
.hover-sage:hover,
.hover-sage:focus { color: #a2c094; }
.hover-bg-sage:hover,
.hover-bg-sage:focus { background-color: #a2c094; }

.mint { color: #7ac294; }
.bg-mint { background-color: #7ac294; }
.b--mint { border-color: #7ac294; }
.hover-mint:hover,
.hover-mint:focus { color: #7ac294; }
.hover-bg-mint:hover,
.hover-bg-mint:focus { background-color: #7ac294; }

.peppermint { color: #dbe8cf; }
.bg-peppermint { background-color: #dbe8cf; }
.b--peppermint { border-color: #dbe8cf; }
.hover-peppermint:hover,
.hover-peppermint:focus { color: #dbe8cf; }
.hover-bg-peppermint:hover,
.hover-bg-peppermint:focus { background-color: #dbe8cf; }

.cream { color: #f2f4e0; }
.bg-cream { background-color: #f2f4e0; }
.b--cream { border-color: #f2f4e0; }
.hover-cream:hover,
.hover-cream:focus { color: #f2f4e0; }
.hover-bg-cream:hover,
.hover-bg-cream:focus { background-color: #f2f4e0; }

.light-grey { color: #a79f9f; }
.bg-light-grey { background-color: #a79f9f; }
.b--light-grey { border-color: #a79f9f; }
.hover-light-grey:hover,
.hover-light-grey:focus { color: #a79f9f; }
.hover-bg-light-grey:hover,
.hover-bg-light-grey:focus { background-color: #a79f9f; }

.grey { color: #6a708e; }
.bg-grey { background-color: #6a708e; }
.b--grey { border-color: #6a708e; }
.hover-grey:hover,
.hover-grey:focus { color: #6a708e; }
.hover-bg-grey:hover,
.hover-bg-grey:focus { background-color: #6a708e; }

.dark-grey { color: #444243; }
.bg-dark-grey { background-color: #444243; }
.b--dark-grey { border-color: #444243; }
.hover-dark-grey:hover,
.hover-dark-grey:focus { color: #444243; }
.hover-bg-dark-grey:hover,
.hover-bg-dark-grey:focus { background-color: #444243; }

.brown { color: #2f2117; }
.bg-brown { background-color: #2f2117; }
.b--brown { border-color: #2f2117; }
.hover-brown:hover,
.hover-brown:focus { color: #2f2117; }
.hover-bg-brown:hover,
.hover-bg-brown:focus { background-color: #2f2117; }

.gold { color: #fbc093; }
.bg-gold { background-color: #fbc093; }
.b--gold { border-color: #fbc093; }
.hover-gold:hover,
.hover-gold:focus { color: #fbc093; }
.hover-bg-gold:hover,
.hover-bg-gold:focus { background-color: #fbc093; }
