/* RMBC Primary colours */

/* Black */

.black { color: #0B0C0C; }
.bg-black { background-color: #0B0C0C; }
.b--black { border-color: #0B0C0C; }
.hover-black:hover,
.hover-black:focus { color: #0B0C0C; }
.hover-bg-black:hover,
.hover-bg-black:focus { background-color: #0B0C0C; }

/* White */

.white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.b--white { border-color: #FFFFFF; }
.hover-white:hover,
.hover-white:focus { color: #FFFFFF; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #FFFFFF; }

/* Greys */

.grey-5 { color: #4F758B; }
.bg-grey-5 { background-color: #4F758B; }
.b--grey-5 { border-color: #4F758B; }
.hover-grey-5:hover,
.hover-grey-5:focus { color: #4F758B; }
.hover-bg-grey-5:hover,
.hover-bg-grey-5:focus { background-color: #4F758B; }


/* Blue */

.blue-5 { color: #002554; }
.bg-blue-5 { background-color: #002554; }
.b--blue-5 { border-color: #002554; }
.hover-blue-5:hover,
.hover-blue-5:focus { color: #002554; }
.hover-bg-blue-5:hover,
.hover-bg-blue-5:focus { background-color: #002554; }

/* Secondary colours */

/* Purple */

.purple-5 { color: #87189D; }
.bg-purple-5 { background-color: #87189D; }
.b--purple-5 { border-color: #87189D; }
.hover-purple-5:hover,
.hover-purple-5:focus { color: #87189D; }
.hover-bg-purple-5:hover,
.hover-bg-purple-5:focus { background-color: #87189D; }

/* Orange */

.orange-5 { color: #ED8B00; }
.bg-orange-5 { background-color: #ED8B00; }
.b--orange-5 { border-color: #ED8B00; }
.hover-orange-5:hover,
.hover-orange-5:focus { color: #ED8B00; }
.hover-bg-orange-5:hover,
.hover-bg-orange-5:focus { background-color: #ED8B00; }

/* Green */

.green-5 { color: #78BE20; }
.bg-green-5 { background-color: #78BE20; }
.b--green-5 { border-color: #78BE20; }
.hover-green-5:hover,
.hover-green-5:focus { color: #78BE20; }
.hover-bg-green-5:hover,
.hover-bg-green-5:focus { background-color: #78BE20; }

/* Red */

.red-5 { color: #EF3340; }
.bg-red-5 { background-color: #EF3340; }
.b--red-5 { border-color: #EF3340; }
.hover-red-5:hover,
.hover-red-5:focus { color: #EF3340; }
.hover-bg-red-5:hover,
.hover-bg-red-5:focus { background-color: #EF3340; }

/* Brown */

.brown-5 { color: #89532F; }
.bg-brown-5 { background-color: #89532F; }
.b--brown-5 { border-color: #89532F; }
.hover-brown-5:hover,
.hover-brown-5:focus { color: #89532F; }
.hover-bg-brown-5:hover,
.hover-bg-brown-5:focus { background-color: #89532F; }
